<div layout="column" layout-align="space-between stretch">
    <section class="header" layout="row" layout-align="center center">
        <h2 flex title="{{vm.chatHeader}}">{{vm.chatHeader}}</h2>
        <md-button class="md-icon-button" ng-click="vm.getMessagesBySearchstring()"><md-icon>search</md-icon></md-button>
        <md-button class="md-icon-button md-accent" ng-click="vm.destroyChatWindow()"><md-icon>clear</md-icon></md-button>
    </section>
    <ul flex class="messages">
        <li title="{{message.date | date:'medium'}}" ng-class="{ownMessage : message.userid === vm.ownId}" ng-repeat="message in vm.messages">
            <div>{{message.message}}</div>
        </li>
    </ul>
    <div class="user-input">
        <input ng-model="vm.userMessage" ng-keypress="vm.sendMessage($event)" placeholder="Enter your message..." type="text" />
    </div>
</div>