chat-room {
  md-whiteframe {
    position: fixed;
    height: 600px;
    width: 600px;
    right: 400px;
    bottom: 0;

    md-content {
      width: 100%;
      overflow-x: hidden;
      .chat-message {
        width: 100%;
        height: auto;
        padding: 12px 0;
        margin-right: 6px;
        display: flex;
        &.user{
          flex-direction: row-reverse;
          .msg{
            background-color: royalblue;
            color: white;
            border-bottom-left-radius: 12px;
            border-top-left-radius: 12px;
          }
        }
        &.friend{
          flex-direction: row;
          .msg{
            background-color: lightgray;
            color: #222;
            border-bottom-right-radius: 12px;
            border-top-right-radius: 12px;
          }
        }
        .chat-message-wrapper{
          display: flex;
          width: 60%;
          flex-direction: column;
          div{
            padding: 5px 8px 4px;
            &.msg{
              word-wrap: break-word;
            }
          }
        }
        .msg-img{
          width: 100%;
          height: auto;
        }
      }
    }
    .input-toolbar {
      .input-area {
        resize: none;
        height: 80px;
      }
    }
  }
}