<md-button class="md-fab md-primary md-hue-2 chat-fab"
           aria-label="Open Chat Window"
           ng-click="vm.panelsToggle()">
    <ng-md-icon icon="people"></ng-md-icon>
</md-button>

<div class="chat-panel-wrapper" ng-class="{'toggle-chat': vm.chatToggle === true}" layout="column" ng-cloak>

    <section class="userName">
        <h1>{{vm.currentUserInfo.fullName}}</h1>
    </section>



    <md-content flex>
        <md-tabs md-dynamic-height md-center-tabs md-stretch-tabs="always" md-no-pagination>

            <md-tab label="History" class="user-tab">

                <md-toolbar class="toolbar" layout="column" layout-align="center center">
                    <div flex class="md-toolbar-tools" layout="row">
                        <md-autocomplete
                            flex
                            md-no-cache="true"
                            md-selected-item="vm.selectedUser"
                            md-selected-item-change="vm.onAutocompleteSelect(user.id)"
                            md-search-text="vm.searchText"
                            md-require-match="true"
                            md-items="user in vm.getFullNamesByString(vm.searchText)"
                            md-item-text="user.fullName"
                            md-dropdown-items="3"
                            md-min-length="1"
                            placeholder="{{vm.autocompletePlaceholder}}">
                            <md-item-template>
                                <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{user.fullName}}</span>
                            </md-item-template>
                            <md-not-found>
                                 No user "{{vm.searchText}}" were found.
                            </md-not-found>
                        </md-autocomplete>
                        <ng-md-icon class="search" icon="search"></ng-md-icon>
                    </div>
                </md-toolbar>

                <ul class="chatList">
                    <li class="noselect" ng-click="vm.openChatWindow(chat.id)" ng-repeat="chat in vm.currentUserInfo.chatHistory track by $index" layout="row">
                        <div class="avatar" layout="row"  layout-align="center center">
                            <md-icon>{{chat.participants.length <= 2 ? 'person': 'group_add'}}</md-icon>
                        </div>

                        <div class="info" flex>
                            <div class="fullName">{{chat.participants[0] == vm.currentUserInfo.fullName ? chat.participants[1] : chat.participants[0]}}<span ng-if="chat.participants.length > 2">(+{{chat.participants.length - 1}})</span></div>
                            <div class="fullName" ng-repeat="participant in chat.participants"  ng-if="chat.participants.length <= 2 && participant.id !== vm.accessToken">{{participant.fullName}}</div>
                            <div class="lastChatMessageText">{{chat.lastChatSender.fullName}}: {{chat.lastChatMessageText}}</div>
                            <div class="lastChatDate">{{chat.lastChatDate | date:'medium'}}</div>
                        </div>

                    </li>
                </ul>

            </md-tab>

            <md-tab label="Rooms">
            </md-tab>

            <md-tab label="Settings">
                <md-content flex layout-padding>
                    <md-switch ng-model="vm.userSettings.enableNotifications" ng-click="vm.saveUserSettings()" aria-label="Switch 2" class="md-warn">
                        <span flex>Rich Notfcatons</span>
                    </md-switch>
                </md-content>

            </md-tab>
        </md-tabs>
    </md-content>
</div>


<div class="chat-container"></div>

<!--<chat-window-->
        <!--toggled="vm.singleToggle"-->
        <!--chat-instance="vm.chatInstance"-->
        <!--msg-send-function="vm.sendMsgToChatInstance"-->
        <!--file-upload="vm.fileUpload"-->
        <!--file-download="vm.fileDownload"-->
<!--&gt;-->
<!--</chat-window>-->