<md-button class="md-fab md-primary md-hue-2 chat-fab"
           aria-label="Open Chat Window"
           ng-click="vm.panelsToggle()">
    <ng-md-icon icon="people"></ng-md-icon>
</md-button>

<div class="chat-panel-wrapper" ng-class="{'toggle-chat': vm.chatToggle === true}" layout="column" ng-cloak>

    <section class="userName">
        <h1>{{vm.currentUserInfo.fullName}}</h1>
    </section>



    <md-content flex>
        <md-tabs md-dynamic-height md-center-tabs md-stretch-tabs="always" md-no-pagination>

            <md-tab label="History" class="user-tab">

                <md-toolbar layout="column" layout-align="center center">
                    <div flex class="md-toolbar-tools" layout="row">
                        <md-autocomplete
                            flex
                            md-no-cache="true"
                            md-selected-item="vm.selectedUser"
                            md-selected-item-change="vm.onAutocompleteSelect(user.id)"
                            md-search-text="vm.searchText"
                            md-require-match="true"
                            md-items="user in vm.getFullNamesByString(vm.searchText)"
                            md-item-text="user.fullName"
                            md-dropdown-items="3"
                            md-min-length="1"
                            placeholder="{{vm.autocompletePlaceholder}}">
                            <md-item-template>
                                <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{user.fullName}}</span>
                            </md-item-template>
                            <md-not-found>
                                 No user "{{vm.searchText}}" were found.
                            </md-not-found>
                        </md-autocomplete>
                        <ng-md-icon icon="search"></ng-md-icon>
                    </div>
                </md-toolbar>

                <ul class="chatList">
                    <li class="noselect" ng-click="vm.openChatWindow(chat.id)" ng-repeat="chat in vm.currentUserInfo.chatHistory track by $index" layout="row">

                        <div class="avatar" layout="row"  layout-align="center center">
                            <md-icon>person</md-icon>
                        </div>

                        <div class="info" flex>
                            <div class="fullName" ng-if="chat.participants.length > 2 ">{{chat.participants[0].fullName}} (+{{chat.participants.length - 1}})</div>
                            <div class="fullName" ng-repeat="participant in chat.participants"  ng-if="chat.participants.length <= 2 && participant.id !== vm.accessToken">{{participant.fullName}}</div>

                            <div class="lastChatMessageText">{{chat.lastChatSender.fullName}}: {{chat.lastChatMessageText}}</div>
                            <div class="lastChatDate">{{chat.lastChatDate | date:'medium'}}</div>
                        </div>

                    </li>
                </ul>

            </md-tab>




            <md-tab label="Rooms">
                <md-toolbar layout="column" layout-align="center center">
                    <div flex class="md-toolbar-tools" layout="row">
                        <input type="text" ng-model="vm.createRoomName">
                        <span flex></span>
                        <md-button class="md-button md-accent md-raised" ng-click="vm.createRoom(vm.createRoomName)">
                            Add Room
                        </md-button>
                    </div>
                    <div flex class="md-toolbar-tools" layout="row">
                        <input type="text" ng-model="vm.searchRoomName">
                        <span flex></span>
                        <ng-md-icon icon="search"></ng-md-icon>
                    </div>
                </md-toolbar>
                <md-list flex>
                    <md-list-item class="md-3-line" ng-repeat="room in vm.rooms | filter: vm.searchRoomName"
                                  ng-click="vm.changeRoomInstance(room)">
                        <div class="md-list-item-text" layout="row">
                            <h3>{{room.name}}</h3>
                            <span flex></span>
                            <ng-md-icon icon="chat" ng-show="room.newText"></ng-md-icon>
                        </div>
                    </md-list-item>
                </md-list>
            </md-tab>



            <md-tab label="Favourites">
                <md-list flex>
                    <md-list-item class="md-3-line" ng-repeat="userr in vm.users"
                                  ng-if="userr._id != user._id && userr.favourite == 'star'"
                                  ng-click="vm.changeChatInstance(userr)">
                        <div class="md-list-item-text user" layout="row">
                            <h3>{{userr.fullName}}</h3>
                            <span flex></span>
                            <ng-md-icon icon="chat" ng-show="userr.newText"></ng-md-icon>
                            <ng-md-icon class="online-icon" icon="fiber_manual_record" ng-show="userr.online"></ng-md-icon>
                            <md-button aria-label="menu" class="md-secondary md-icon-button fav-button"
                                       ng-click="vm.switchFavourite(userr, user)">
                                <ng-md-icon icon="{{userr.favourite}}" size="36"></ng-md-icon>
                            </md-button>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-3-line" ng-repeat="userr in vm.offlineUsers"
                                  ng-if="userr.favourite == 'star'"
                                  ng-click="vm.changeChatInstance(userr)">
                        <div class="md-list-item-text user" layout="row">
                            <h3>{{userr.fullName}}</h3>
                            <span flex></span>
                            <md-button aria-label="menu" class="md-secondary md-icon-button fav-button"
                                       ng-click="vm.switchFavourite(userr, user)">
                                <ng-md-icon icon="{{userr.favourite}}" size="36"></ng-md-icon>
                            </md-button>
                        </div>
                    </md-list-item>
                </md-list>
            </md-tab>
        </md-tabs>
    </md-content>
</div>


<div class="chat-container"></div>

<!--<chat-window-->
        <!--toggled="vm.singleToggle"-->
        <!--chat-instance="vm.chatInstance"-->
        <!--msg-send-function="vm.sendMsgToChatInstance"-->
        <!--file-upload="vm.fileUpload"-->
        <!--file-download="vm.fileDownload"-->
<!--&gt;-->
<!--</chat-window>-->