chat-panel {
  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    &:focus{
      outline: none;
    }
  }

  section.userName {
    h1 {
      background-color: #505b72;
      color: #fff;
      padding: 15px 20px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
      font-family: Roboto, Helvetica Neue, sans-serif;
    }
  }

  .toolbar {
    background-color: #505B72;

    .search {
       margin-left: 10px;
    }
  }

  ul.chatList {
    margin: 0;
    padding: 15px;
    li {
      list-style: none;
      border-bottom: 1px solid #EAECF0;
      padding: 10px;
      cursor: pointer;
      color: #c1c9d8;
      transition: all 300ms;
      &:hover {
        color: #3b4354;
      }
      .avatar {
        min-width: 45px;
        md-icon {
          zoom: 2;
        }
      }
      .info {
        font-size: 12px;
        .fullName {
          color: #3b4354;
          font-weight: 700;
        }
        .lastChatMessageText {
          font-weight: 400;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .lastChatDate {
          text-align: right;
          font-weight: 100;
        }
      }

    }
  }

  .chat-fab {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
  .chat-panel-wrapper {
    position: fixed;
    height: 100vh;
    width: 400px;
    max-width: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-left: 1px solid lightgray;
    transition: all 0.3s linear;
    md-list {
      padding: 0;
      .online-icon {
        color: green;
      }
      .fav-button.md-icon-button {
        height: 50px !important;
        width: 50px !important;
        line-height: 36px !important;
        ng-md-icon {
          width: 36px !important;
          height: 36px !important;
          color: #e6c300;
        }
      }
    }
    &.toggle-chat {
      max-width: 400px;
    }
  }

  .chat-container{
    position: absolute;
    bottom: 0;
    right: 400px;
  }


  /* The finishing CSS styles for the enter animation */
  .ng-enter {
    transition: 0.2s linear all;
    opacity: 0;
  }

  .ng-enter.ng-enter-active {
    opacity: 1;
  }
  .ng-leave {
    transition: 0.2s linear all;
    opacity: 1;
  }
  .ng-leave.ng-leave-active {
    opacity: 0;
  }
}
